.color-09 {
    color: $color-09;
}

.color-dd {
    color: $color-dd;
}

.color-2e {
    color: $color-2e;
}

.color-7e {
    color: $color-7e;
}

.color-80 {
    color: $color-80;
}


.bg-09 {
    background-color: $color-09;
}

.bg-80 {
    background-color: $color-80;
}

.bg-dd {
    background-color: $color-dd;
}

.bg-7e {
    background-color: $color-7e;
}

.bg-0d {
    background-color: $color-0d;
}

.bg-c7 {
    background-color: $color-c7;
}

.bg-cb {
    background-color: $color-cb;
}

.bg-f1 {
    background-color: $color-f1;
}

.bg-fe {
    background-color: $color-fe;
}

.bg-fa {
    background-color: $color-fa;
}