$primary-clr: #000F1D;
$secondary-clr: #6E150ECC;
$black-clr: #000000;
$white-clr: #ffffff;
$light-clr: #f8f9fa;

// COLORS
$color-fa: #fcfafa;
$color-f6:#fcfaf6;
$color-33: #414F33;
$color-2e: #34312e;
$color-1e: #43431e;
$color-0d:#b23f0d;
$color-1d:#2c3d1d;
$color-09:#D5E509;
$color-67:#676767;
$color-e1: #f0ebe1;
$color-70 :#323470;
$color-b7:#FFC8B7;
$color-d5:#fafad5;
$color-a3:#efeba3;
$color-e9: #e9e9e9;
$color-dd:#EDE9DD;
$color-7e : #89857E;
$color-80 :#287080;
$color-e5: #e5e5e5;
$color-800:#ffb800;
$color-40:#404040;

// FONTS
$font-arsenal: 'Arsenale White';
$font-futura: 'Futura PT';
$font-hanken: 'Hanken Grotesk';
$font-spirit :'New Spirit'