$primary-clr: #000F1D;
$secondary-clr: #6E150ECC;
$black-clr: #000000;
$white-clr: #ffffff;
$light-clr: #f8f9fa;


$color-fa: #fcfafa;
$color-f6:#fcfaf6;
$color-33: #414F33;
$color-2e: #34312e;
$color-1e: #43431e;


// FONTS
$font-arsenal: 'Arsenale White';
$font-futura: 'Futura PT';
$font-hanken: 'Hanken Grotesk';
$font-spirit :'New Spirit'