.primary-btn {
    width: fit-content;
    padding: 14px 32px;
    border-radius: 512px;
    background-color: $color-33;
    font-family: $font-hanken;
    color: $white-clr;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .1px;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    display: inline-block;

    &:hover {
        background-color: $color-f6;
        color: $color-33;
    }

    @include media-breakpoint-down(md) {
        padding: 10px 24px;
        font-size: 14px;
    }
}


.secondery-btn {
    padding: 14px 32px;
    border-radius: 512px;
    background-color: $color-0d;
    color: $color-f6;
    text-align: center;
    font-family: $font-hanken;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .1px;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    display: inline-block;

    @include media-breakpoint-down(md) {
        padding: 10px 24px;
        font-size: 14px;
    }
}