.plantcard {
    position: relative;

    &-getinfo {
        position: absolute;
        top: 2%;
        left: 10%;
        z-index: 2;

        button {
            background: none;
            padding: 0;
            border: none;
            display: flex;
        }
    }

    &-image {
        margin-bottom: 4px;
        height: 104px;
        margin-bottom: 4px;
        background-color: $color-f6;

        @media (min-width: 1280px) {
            height: 148px;
        }

        img {
            object-fit: contain;
            mix-blend-mode: multiply;
            vertical-align: bottom;
            height: 100%;
        }
    }

    &-content {
        text-align: center;
    }

    &-title {
        color: $color-2e;
        text-align: center;
        font-family: $font-spirit;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @media (min-width: 1280px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-off {
        background-color: $magenta;
        border-radius: 2px;
        border: 1px solid $white-clr;
        padding: 2px 6px;
        width: fit-content;
        color: $color-f6;
        font-family: $secondery-font;
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: .48px;
        text-transform: uppercase;
        white-space: nowrap;
        position: absolute;
        top: 0;
        right: 0;
    }

    &-discount {
        text-align: center;
        color: $color-0d;
        font-family: $secondery-font;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        @media (min-width: 1280px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-price {
        text-align: center;
        color: $color-67;
        font-family: $secondery-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-left: 4px;

        @media (min-width: 1280px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-pricetag {
        display: block;
        color: $color-67;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        font-family: $secondery-font;
    }

    &-btn {
        @include flexCenter;
        width: 40px;
        height: 40px;
        border-radius: 512px;
        background: $magenta;
        transition: all .2s ease-in-out;
        border: none;
        margin: 4px auto auto;
        background-image: url(../images/icons/plus.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32%;
        border: 1px solid $magenta;

        img {
            width: 12px;
            height: 12px;
        }

        &:hover {
            transition: all .2s ease-in-out;
            box-shadow: 0 1px 2px #34312e4d, 0 1px 3px 1px #34312e26;
        }
    }

    &_url {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}