.swiper {

    &-pagination {
        position: relative;
        bottom: 0 !important;

        &-bullet-active {
            transform: scale(1.4);
            background: $black-clr;
        }
    }
}