/* Error: Undefined variable.
 *     ,
 * 101 |                 color: $font;
 *     |                        ^^^^^
 *     '
 *   pages\_index.scss 101:24  @import
 *   style.scss 14:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 101 \2502                  color: $font;\d\a     \2502                         ^^^^^\a     \2575 \a   pages\\_index.scss 101:24  @import\a   style.scss 14:9           root stylesheet";
}
