.header {
    border-bottom: 1px solid #eee;
    background-color: $color-f6;

    &_menu {
        margin: 0 auto;

        ul {
            display: flex;
            align-items: center;

            li {
                a {
                    padding: 25px 11px;
                    color: #404040;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    display: inline-block;
                    font-family: $font-hanken;
                }
            }
        }
    }

    &_logo {
        padding: 0 10px;
        max-width: 300px;
        width: 100%;
    }

    &_end {
        padding: 0 10px;
        max-width: 300px;
        width: 100%;

        ul {
            display: flex;
            column-gap: 24px;
            align-items: center;
            justify-content: end;

            li {
                a {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $font-hanken;
                }
            }
        }
    }

    .offcanvas {

        &-body {
            align-items: center;
        }
    }
}