/* ===================================== */
/*         HERO SECTION STYLE            */
/* ===================================== */
.hero {
    background-color: $color-f6;

    &_flex {
        @include media-breakpoint-up(md) {
            @include flexCenter;
        }
    }

    &_content {
        width: 40%;
        @include flexColumn;
        gap: 16px;
        padding: 32px 48px 24px;

        @media (max-width: 1280px) and (min-width: 768px) {
            padding: 2.5vw 3.75vw 1.875vw;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 32px 16px;
            align-items: center;
            text-align: center;
        }

        h1 {
            font-family: $font-spirit;
            max-width: 242px;
            width: 100%;
            letter-spacing: -.52px;
        }

        p {
            color: $color-2e;
            font-family: $font-hanken;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -.18px;

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
        }
    }

    &_video {
        flex-basis: 60%;

        @include media-breakpoint-down(md) {
            margin: 0 2px;
        }

        video {
            width: 100%;
        }
    }
}

/* ===================================== */
/*         MARQUEE SECTION STYLE         */
/* ===================================== */
.marquee {
    background-color: $color-1e;
    padding: 24px 0;
    min-height: 76px;
}

/* ===================================== */
/*        PRODUCT SECTION STYLE          */
/* ===================================== */
.products {
    background-color: $color-f6;
    padding-top: 24px;

    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 32px;
        margin-top: 24px;

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &_item {
        @include flexColumn;
        gap: 4px;

        img {
            border-radius: 8px;
            height: 43.3333333333vw;
            object-fit: contain;

            @media (min-width: 1280px) {
                height: 284px;
            }

            @media (min-width: 768px) and (max-width: 1280px) {
                height: 21.3541666667vw;
            }
        }

        h4 {
            font-family: $font-spirit;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            padding: 4px;

            @media screen and (min-width: 1280px) {
                font-size: 16px;
            }
        }

        span {
            padding: 4px;
            font-weight: 400;
            padding: 4px;
            font-size: 14px;
            line-height: 20px;
            font-family: $font-hanken;

            @media (min-width: 1280px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        a {
            @include alignCenter;
            gap: 4px;
            padding: 2px 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: .1px;
            font-family: $font-hanken;
            color: $color-2e;

            @media (min-width: 1280px) {
                font-size: 16px;
                line-height: 24px;

            }

            img {
                width: 18px;
                height: 20px;
            }
        }
    }

    &_color {
        display: flex;
        padding: 4px;
        gap: 4px;

        &-option {
            width: 20px;
            height: 20px;
            padding: 2.5px;
            border-radius: 100%;
            border: 1px solid #a39766;
            box-shadow: 0 0 0 2px #fff inset;

            &.white {
                background-color: #fff;
            }

            &.grey {
                background-color: #858080;
            }

            &.beige {
                background-color: #d3d3d3;
            }
        }
    }

    &_btn {
        @include flexCenter;
        margin-top: 40px;

        @include media-breakpoint-down(md) {
            margin-top: 32px;
        }
    }
}