/* ===================================== */
/*         HERO SECTION STYLE            */
/* ===================================== */
.hero {
    background-color: $color-f6;

    &_flex {
        @include media-breakpoint-up(md) {
            @include flexCenter;
        }
    }

    &_content {
        width: 40%;
        @include flexColumn;
        gap: 16px;
        padding: 32px 48px 24px;

        @media (max-width: 1280px) and (min-width: 768px) {
            padding: 2.5vw 3.75vw 1.875vw;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 32px 16px;
            align-items: center;
            text-align: center;
        }

        h1 {
            font-family: $font-spirit;
            max-width: 242px;
            width: 100%;
            letter-spacing: -.52px;
        }

        p {
            color: $color-2e;
            font-family: $font-hanken;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -.18px;

            @media(max-width: 1280px) and (min-width: 768px) {
                font-size: 1.40625vw;
            }

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
        }

        .primary-btn {
            background-color: $color-33;

            @media (max-width: 1280px) and (min-width: 768px) {
                font-size: 1.25vw;
                padding: 1.09375vw 2.5vw;

            }
        }
    }

    &_video {
        flex-basis: 60%;

        @include media-breakpoint-down(md) {
            margin: 0 2px;
        }

        video {
            width: 100%;
        }
    }
}

/* ===================================== */
/*         MARQUEE SECTION STYLE         */
/* ===================================== */
.marquee {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    background-color: $color-1e;

    .slick-slide {
        margin: 0 14px;

        >div {
            display: flex;
            align-items: center;
        }
    }

    &_item {

        img {
            width: auto;
        }
    }
}

/* ===================================== */
/*        PRODUCT SECTION STYLE          */
/* ===================================== */
.products {

    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 32px;
        // margin-top: 24px;
        max-width: 1160px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &_item {
        @include flexColumn;
        gap: 4px;
        position: relative;

        &-new {
            background-color: $color-0d;
            border-radius: 2px;
            border: 1px solid $color-0d;
            padding: 2px 6px;
            width: fit-content;
            color: $color-f6;
            font-family: $font-hanken;
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            white-space: nowrap;
            position: absolute;
            top: 0;
            right: 0;
        }

        &-img {
            background-color: $white-clr;

            img {
                border-radius: 8px;
                height: 43.3333333333vw;
                object-fit: contain;

                @media (min-width: 1280px) {
                    height: 284px;
                }

                @media (min-width: 768px) and (max-width: 1280px) {
                    height: 21.3541666667vw;
                }
            }

        }

        h4 {
            font-family: $font-spirit;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            padding: 4px;

            @media screen and (min-width: 1280px) {
                font-size: 16px;
            }
        }

        span {
            padding: 4px;
            font-weight: 400;
            padding: 4px;
            font-size: 14px;
            line-height: 20px;
            font-family: $font-hanken;

            @media (min-width: 1280px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        a {
            @include alignCenter;
            gap: 4px;
            padding: 2px 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: .1px;
            font-family: $font-hanken;
            color: $color-2e;

            @media (min-width: 1280px) {
                font-size: 16px;
                line-height: 24px;

            }

            img {
                width: 18px;
                height: 20px;
                transition: all .3s ease-in-out;
            }

            &:hover {
                transition: all .3s ease-in-out;

                img {
                    transform: translateX(5px);
                    transition: all .3s ease-in-out;
                }
            }
        }
    }

    &_color {
        display: flex;
        padding: 4px;
        gap: 4px;

        &-option {
            width: 20px;
            height: 20px;
            padding: 2.5px;
            border-radius: 100%;
            border: 1px solid #a39766;
            box-shadow: 0 0 0 2px #fff inset;

            &.white {
                background-color: #fff;
            }

            &.grey {
                background-color: #858080;
            }

            &.beige {
                background-color: #d3d3d3;
            }
        }
    }

    &_btn {
        @include flexCenter;
        margin-top: 40px;

        @include media-breakpoint-down(md) {
            margin-top: 32px;
        }
    }
}

/* ===================================== */
/*          PLANT HERO STYLE             */
/* ===================================== */

.planthero {
    margin-top: 96px;

    @include media-breakpoint-down(md) {
        margin-top: 88px;
    }

    &_wrapper {
        border-radius: 24px;
        background-color: $color-1d;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 396px;
        padding: 40px 16px;
        text-align: center;
    }

    &_content {
        color: $color-09;

        h2 {
            @include media-breakpoint-down(sm) {
                max-width: 230px;
                margin: 0 auto;
            }
        }

        p {
            margin: 16px auto 0 auto;
            max-width: 350px;
            width: 100%;
        }

        a {
            margin-top: 64px;
            background-color: $color-09;
            color: $color-1d;

            @include media-breakpoint-down(md) {
                margin-top: 56px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 48px;
            }
        }
    }
}

/* ===================================== */
/*         PLANT CARDS STYLE             */
/* ===================================== */
.plantblock {
    margin-top: 40px;

    &_btn {
        text-align: center;
        margin-top: 54px;
    }

    .swiper-pagination {
        margin-top: 60px;
    }
}

/* ===================================== */
/*         FEATUES CARDS STYLE           */
/* ===================================== */

.features {
    margin-top: 80px;

    .section-head {
        h2 {
            @include media-breakpoint-down(sm) {
                max-width: 240px;
            }
        }
    }

    &_slider {
        margin-top: 24px;

        .swiper-pagination {
            margin-top: 25px;
        }
    }

    &_card {
        position: relative;
        border-radius: 24px;
    }

    &_image {

        img {
            border-radius: 24px;
            height: 480px;

        }
    }

    &_content {
        width: 100%;
        min-height: 180px;
        padding: 32px 24px;
        background: #34312e;
        background: linear-gradient(180deg, #34312e00 0, #34312e1a 32%, #34312e80);
        mask-image: linear-gradient(180deg, #0000 0, #000 25px 100%);
        backdrop-filter: blur(12px);
        color: $color-f6;
        position: absolute;
        bottom: 0;
        border-radius: 0px 0px 24px 24px;

        h3 {
            font-family: $font-spirit;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;

            @include media-breakpoint-down(md) {
                font-size: 18px;
            }
        }

        p {
            margin-top: 6px;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -.18px;
            font-family: $font-hanken;
            color: $white-clr;

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
        }
    }
}

/* ===================================== */
/*          VALUES CARDS STYLE           */
/* ===================================== */
.values {
    margin-top: 100px;

    @include media-breakpoint-down(md) {
        margin-top: 56px;
    }

    .section-head {

        h2 {
            max-width: 400px;

            @include media-breakpoint-down(sm) {
                max-width: 325px;
            }
        }
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 24px;
        gap: 8px;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &_item {
        min-width: 156px;
        min-height: 156px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 8px;
        background-color: #f0ebe1;

        img {
            width: 40px;
            height: 40px;
        }

        h3 {
            margin-top: 16px;
            font-size: 20px;
            font-weight: 500;
            line-height: 110%;
            font-family: $font-spirit;
            max-width: 130px;
            width: 100%;
        }

        p {
            font-family: $font-hanken;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -.16px;
            max-width: 130px;
            width: 100%;
            margin-top: 4px;
        }


    }
}

/* ===================================== */
/*          SOCIAL CARDS STYLE           */
/* ===================================== */

.social {
    margin-top: 56px;

    &_slider {
        margin-top: 24px;

        .swiper-pagination {
            margin-top: 60px;
        }
    }

    &_item {
        img {
            border-radius: 8px;
            height: 240px;
        }

        p {
            color: $color-2e;
            font-family: $font-hanken;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -.18px;
            margin-top: 8px;
        }

        a {
            color: $color-2e;
            font-family: $font-hanken;
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -.18px;
            margin-top: 8px;
            display: block;
        }
    }
}

/* ===================================== */
/*           NEWSLETTER STYLE            */
/* ===================================== */

.newsletter {
    margin-top: 44px;

    &_wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        min-height: 580px;
        border-radius: 24px;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

    }

    &_image {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 24px;

            @include media-breakpoint-down(md) {
                position: relative;
                border-radius: 24px 24px 0 0;
            }
        }
    }

    &_content {
        z-index: 2;
        background-color: $color-e1;
        padding: 32px 16px;
        max-width: 384px;
        width: 100%;
        text-align: center;
        @include flexColumn;
        justify-content: center;
        border-radius: 0px 24px 24px 0px;

        @include media-breakpoint-down(md) {
            border-radius: 0px 0px 25px 24px;
            max-width: 100%;
        }

        h2 {
            margin-bottom: 20px;
        }

        p {
            color: $color-33;
            font-family: $font-hanken;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
        }

        input {
            width: 100%;
            padding: 0px 0px 0px 16px;
            height: 50px;
            color: rgb(89, 89, 89);
            font-family: $font-futura;
            font-size: 18px;
            font-weight: 400;
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            border-bottom: 1px solid #949494;

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }

            &#name {
                margin-bottom: 10px;
            }

            &#email {
                margin-bottom: 20px;
            }

            &:focus-within {
                outline: none;
                border-bottom: 1px solid #949494;
            }
        }

        button {
            font-family: $font-futura;
            font-size: 18px;
            font-weight: 400;
            height: 50px;
            width: 100%;
            margin-bottom: 48px;

            @include media-breakpoint-down(md) {
                margin-bottom: 32px;
                font-size: 16px;
            }
        }
    }
}

/* ===================================== */
/*               CTY STYLE               */
/* ===================================== */

.cta {
    margin-top: 56px;

    &_wrapper {
        border-radius: 24px;
        background-color: $color-70;
        min-height: 396px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 16px;
    }

    &_content {
        padding-top: 24px;
        text-align: center;

        h2 {
            color: $color-b7;
        }

        p {
            color: $color-b7;
            margin-top: 16px;

            @include media-breakpoint-down(md) {
                margin-top: 8px;
            }
        }

        .primary-btn {
            color: $color-70;
            background-color: $color-b7;
            margin-top: 64px;

            @include media-breakpoint-down(md) {
                margin-top: 56px;
            }
        }

    }
}